/* --------------------
 * フォント関連はここで定義する
 * index.htmlでpreloadする
 * -------------------- */

$roboto-weights: 100,
300,
400,
500,
700,
900;

@each $weight in $roboto-weights {
  @font-face {
    font-family: Roboto;
    font-display: swap;
    font-style: normal;
    font-weight: $weight;
    font-display: swap;
    src:
      local('Roboto'),
      url('/font/Roboto#{$weight}.ttf') format('truetype');
  }
}

.pacifico {
  font-family: 'Pacifico', cursive;

  @at-root {
    @font-face {
      font-family: 'Pacifico';
      font-display: swap;
      src:
        local('Pacifico'),
        url('/font/Pacifico-Regular.ttf') format('truetype');
    }
  }
}

.berlin-sans {
  font-family: 'Berlin Sans FB Demi Bold', sans-serif;

  @at-root {
    @font-face {
      font-family: 'Berlin Sans FB Demi Bold';
      font-display: swap;
      src: url('/font/BRLNSDB.ttf') format('truetype');
    }
  }
}
