div.home {
  height: 100vh;
  width: 100vw;
  background-color: rgba(249, 182, 15, 0.75);
  display: grid;
  grid-template:
    "header header header" 5%
    "... ... ..." 5%
    "... logo ..." minmax(auto, 10rem)
    "... ... ..." 0.2fr
    "... nav ..."
    "... ... ..." 1fr
    "... footer ..."
    "... ... ..." 1rem
    / 10% auto 10%;
}
header{
  grid-area: header;
}
.logo {
  grid-area: logo;
  text-align: center;
}
.logo img {
  max-height: 100%;
  max-width: 100%;
}
@font-face {
  font-family: 'Berlin Sans FB Demi';
  src: url("../Berlin_Sans_FB_Demi_Bold.ttf");
}
nav {
  position: relative;
  grid-area: nav;
  text-align: center;
  font-size: 3rem;
  font-family: 'Berlin Sans FB Demi';
  overflow: hidden;
}
nav .arrow {
  font-size: 2rem;
}
footer {
  grid-area: footer;
  position: relative;
}
.copyright {
  position: absolute;
  top: calc(50% - 0.9rem / 2);
  left: 0;
  font-size: 0.9rem;
  color: rgba(48, 48, 48, 0.9);
}
.logo-firebase a{
  font-size: 0;
}
.logo-firebase img {
  float: right;
  height: 3.2rem;
}
